@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?26nq3r');
  src:  url('fonts/icomoon.eot?26nq3r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?26nq3r') format('truetype'),
    url('fonts/icomoon.woff?26nq3r') format('woff'),
    url('fonts/icomoon.svg?26nq3r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Meshingun_Logo_SVG_Smaller:before {
  content: "\e901";
}
.icon-Meshingun_Name_256_SVG:before {
  content: "\e902";
}
.icon-Unreal_Engine_Logo:before {
  content: "\e900";
}
